:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#webgl {
  position: fixed;
  overflow: hidden;
}

#editor {
  font-family: 'Fira Code', monospace;
  font-size: 14px;
  background-color: #1f1f1f50;
  color: white;
  position: absolute;
  z-index: 1;
  /* top: 10; */
  padding: 0px;
  overflow: auto;
  white-space: pre-wrap !important;
  word-break: break-word;
}

.toggle {
  margin-left: auto;
}

#toggle-btn:hover {
  background-color: #357abd;
}

.cm-gutter {
  background-color: #1f1f1f;
}


/* Navigation Tabs */
.flip-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #333;
  padding-left: 10px;
  padding-right: 10px;
  /* height: 50px; */
}

.flip-nav{
  height: 50px;
  /* font-size: 50px; */
}

.counter{
  text-align: center;
  padding: 0;
  width: 50px;
  height: 100%;
}

.submit-btn{
  height: 100%;
  margin: 0;
  
}

.back-btn{
  width: 100px;
}

.next-btn{
  width: 100px;
}

.tab {
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition:
    border-color 0.3s,
    background 0.3s;
}

.tab:hover {
  background: #444;
}

.tab.active {
  border-bottom: 2px solid #00f;
  font-weight: bold;
}

.text-box{
  height: 100%;
  width: 126px;
}
