:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#webgl{
  position: fixed;
  overflow: hidden;
}

#editor {
  font-family: 'Fira Code', monospace;
  font-size: 14px;
  background-color: #1e1e1e80;
  color: white;
  position: fixed;
  z-index: 1;
  top: 10vh;
  padding: 10px;
}

.cm-gutter{
  background-color: #1f1f1f;
}

/* Navigation Tabs */
nav.tabs {
  display: absolute;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  /* background-color: #fff; */
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0vh;
  z-index: 10;
}

nav.tabs a.tab {
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: #333;
  border-radius: 6px;
  font-weight: 500;
  transition: background 0.2s, color 0.2s;
}

nav.tabs a.tab:hover {
  background: #eee;
}

nav.tabs a.tab.active {
  background: #000;
  color: #fff;
}